MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=wordpress_password

POSTGRES_DB=hsp_delivery
POSTGRES_USER=hsp_admin
POSTGRES_PASSWORD=hsp_secret

REVALIDATION_SECRET=hsp_revalidation_secret_token_123
REVALIDATION_URL=http://host.docker.internal:3000/api/revalidate
